<div class="m-5">
  <div class="mb-5">
    <a href="{% url 'customize_app' %}" class="btn btn-primary p-3 br-3"
      >App customization</a
    >
  </div>
  <div class="mb-5">
    <a href="{% url 'reports' %}" class="btn btn-primary p-3 br-3"
      >Go to reports</a
    >
  </div>
  <div class="mb-5">
    <a href="{% url 'create_profile' %}" class="btn btn-secondary p-3 br-3"
      >Create user profile</a
    >
  </div>
  <div class="mb-5">
    <a href="{% url 'users' %}" class="btn btn-secondary p-3 br-3"
      >Go to users</a
    >
  </div>
</div>
