<div class="m-5">
  <div class="container my-5 text-align-justify">
    <h1 class="mb-4">Welcome to ITMT</h1>
    <p>Welcome to the IT Department Management Tool (ITMT) application.</p>
    <p>
      This is an application that will allow the IT department in a company to
      manage control of desktop computers and their peripherals, as well as have
      information about users who are responsible for them.
    </p>
    <p>
      It will also allow users to inform IT department of any situation that
      hinders their work through a report.
    </p>
    <p>
      The above is planned through two types of users. The "admin" user will
      have all options to manage, inventory and control users, desktop computers
      and accessories, while users other than "admin" user will only be able to
      make reports.
    </p>
    <p>
      At first launch of ITMT application, active user will be "admin" user and
      through this session necessary user profiles can be created and
      information given to users: username and password.
    </p>
    <h2 class="mt-4 mb-3">Navigation Bar Options</h2>
    <ol>
      <li>
        <b>Customize App:</b> When clicked, a form appears where you can edit
        information brought by ITMT application by default. You can change name,
        address, email and phone number(s) of company that will be reflected at
        bottom left. You can change company logo and it will be reflected at
        bottom right. You can also modify address that it will redirect when
        clicking on Intranet at top left.
      </li>
      <li>
        <b>Create User:</b> Here a form appears where you enter data of user who
        will use one of desktop computers. Required data are their full name,
        their username, their address, their email, their password, their cell
        phone number and a photograph.
      </li>
      <li>
        <b>Users:</b> Where you can see list of users registered in ITMT
        application. When clicking on a username, an interface appears where you
        can see a card with information previously added in point 2. Create User
        form. In this card there will be two options, one to delete it and
        another to edit it.
      </li>
      <li>
        <b>Reports:</b> Where all reports sent by users to "admin" are stored in
        which they manifest problem they have, which user sent it, a brief
        description of problem and date it was made. These reports will be
        stored so that those sent last will appear at top. These reports will in
        turn have a button to delete them.
      </li>
      <li>
        <b>Create PC:</b> A form appears to enter all data concerning desktop
        computers and their peripherals, as well as department to which it
        belongs and who will be responsible for it.
      </li>
      <li>
        <b>Pcs:</b> Where all desktop computers created in point 5. Create PC
        are shown organized according to department they belong to and numbered.
        When clicking on desktop computer name we can display its information
        and also show a button to edit its information and another button to
        delete it.
      </li>
    </ol>
  </div>
</div>
