{% extends "capstone/layout.html" %} 
{% block body %} 
{% if user.is_authenticated %} 
{% if user.username == 'admin' %}

<div class="container mt-5 border p-3 br-3">
  <h3 class="mb-3">Create profile</h3>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Fullname:</label>
      <input
        class="form-control"
        type="text"
        name="name"
        id="name"
        value="{{name}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        class="form-control"
        type="text"
        name="username"
        id="username"
        value="{{username}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input
        class="form-control"
        type="text"
        name="address"
        id="address"
        value="{{address}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input
        class="form-control"
        type="tel"
        name="phone"
        id="phone"
        value="{{phone}}"
        required
      />
      <span id="valid-msg" class="d-none text-success">✓ Valid</span>
      <span id="error-msg" class="d-none text-danger"></span>
    </div>
    <div class="form-group">
      <label for="picture">Picture:</label>
      <input
        class="form-control"
        type="file"
        name="picture"
        id="picture"
        value="{{picture}}"
        accept="image/*"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% if message %}
  <p class="alert alert-success mt-3">{{ message }}</p>
  {% endif %}

  {% if error %}
  <p class="alert alert-danger mt-3">{{ error }}</p>
  {% endif %}

</div>
{% endif %} 
{% endif %}
<script>
  setTimeout(() => {
    const messageElement = document.querySelector(".alert");
    messageElement && messageElement.classList.add("d-none");
  }, 2500);


  //https://intl-tel-input.com/examples/validation.html
  const input = document.querySelector("#phone");
  const errorMsg = document.querySelector("#error-msg");
  const validMsg = document.querySelector("#valid-msg");
  
  // here, the index maps to the error code returned from getValidationError - see readme
  const errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
  
  const iti = window.intlTelInput(input, {
      utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js",
      preferredCountries: [ "cu","us" ],    
    });
    
  const reset = () => {
    input.classList.remove("error");
    errorMsg.innerHTML = "";
    errorMsg.classList.add("d-none");
    validMsg.classList.add("d-none");
  };
  
  // on blur: validate
  input.addEventListener('blur', () => {
    reset();
    if (input.value.trim()) {
      if (iti.isValidNumber()) {
        validMsg.classList.remove("d-none");
      } else {
        input.classList.add("error");
        const errorCode = iti.getValidationError();
        errorMsg.innerHTML = errorMap[errorCode];
        errorMsg.classList.remove("d-none");
      }
    }
  });
  
  // on keyup / change flag: reset
  input.addEventListener('change', reset);
  input.addEventListener('keyup', reset);
</script>
{% endblock %}
