{% extends "capstone/layout.html" %}
{% block body %}
{% if user.is_authenticated %}
{% if user.username == 'admin' %}

<div class="container mt-5 border p-3 br-3">
  <h3 class="mb-3 text-center">Update Footer</h3>
  <form action="{% url 'update_footer' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="company_name">Company Name:</label>
      <input
        class="form-control"
        type="text"
        id="company_name"
        name="company_name"
        placeholder="{{ company_name }}"
      />
    </div>
    <div class="form-group">
      <label for="company_address">Address:</label>
      <input
        class="form-control"
        type="text"
        id="company_address"
        name="company_address"
        placeholder="{{ company_address }}"
      />
    </div>
    <div class="form-group">
      <label for="company_phone">Phone:</label>
      <input
        class="form-control"
        type="text"
        id="company_phone"
        name="company_phone"
        placeholder="{{ company_phone }}"
      />
    </div>
    <div class="form-group">
      <label for="company_email">Email:</label>
      <input
        class="form-control"
        type="text"
        id="company_email"
        name="company_email"
        placeholder="{{ company_email }}"
      />
    </div>
    <div class="form-group">
      <label for="avatar">Avatar:</label>
      <input
        class="form-control"
        type="file"
        id="company_avatar"
        name="company_avatar"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update Footer</button>
  </form>
</div>

{% endif %}
{% endif %}
{% endblock %}
