{% extends "capstone/layout.html" %}
{% block body %}
    {% if user.is_authenticated %}
        {% if user.username == 'admin' %}
            <div class="d-flex justify-content-center">
                <div class="card ml-5 mr-5" >
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h1 class="card-title">{{ profile.user.username }}</h1>
                                <p class="card-text"><b>Name:</b> {{ profile.name }}</p>
                                <p class="card-text"><b>Address:</b> {{ profile.address }}</p>
                                <p class="card-text"><b>Email:</b> {{ profile.email }}</p>
                                <p class="card-text"><b>Phone:</b> {{ profile.phone }}</p>
                            </div>
                            <img src="{{ profile.picture.url }}" class="rounded-circle" alt="Profile picture" style="height:6rem; width: 6rem; object-fit: cover;">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
